@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	margin: 20px;
	font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
	/* text unselectable */
	font: 8px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: white;
}

.bar:hover {
  fill: brown;
}

.bx {
  shape-rendering: crispEdges;
}

.bx path {
  fill: none;
}

.bx line {
  stroke: #fff;
  stroke-opacity: .8;
}

.by {
  shape-rendering: crispEdges;
}

.by path {
  fill: none;
  stroke: black;
}

.chartLabels {
  	font: 10px sans-serif;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.5px;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

svg {
	position: absolute;
}

h3 {
	display: inline;
	margin-right: 10px;
}

.gratBackground {
  fill: #D5E3FF;
}

.map {
	border: medium solid #999;
}

.states {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 2px;
}

.subbasins {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.dropdown {
	position: absolute;
	left: 350px;
	top: 30px;
}

.dropdown select {
	font-size: 1em;
	border: 1px solid black;
	width: 135px;
}

.infolabel {
	position: absolute;
	width: 200px;
	height: 50px;
	color: #fff;
	background-color: #000;
	border: solid thin #fff;
	padding: 5px;
}

.infolabel h1 {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	float: left;
}

.labelname {
	display: inline-block;
	float: right;
	margin: -25px 0px 0px 40px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}

.chart {
	background-color: rgba(128,128,128,.2);
	border: medium solid #999;
	position: absolute;
	left: 680px;
	top: 73px;
}

.charttext {
	font-size: 1.5em;
	font-weight: bold;
}

.boxplot{
	position: absolute;
	left: 900px;
	top: 150px;
}