@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* text unselectable */
	font: 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.rivers {
	fill: none;
	stroke: blue;
	stroke-width: .2px;
}

.text{
}

button {
	border-width: 0px;
  	border-radius: 12px;
  	font-family: Arial;
  	color: #594a59;
 	font-size: 14px;
  	background: #dbe2ea;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
  
}

button:hover {
  	background: yellow;
}

img {
	width: 100%;
}
.infolabel {
	position: absolute;
	width: 200px;
	height: 100px;
	color: #000;
	background-color: #fff;
	border: solid thin #000;
	padding: 5px;
}

.infolabel h1 {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	float: left;
}

.labelname {
	display: inline-block;
	float: right;
	margin: -25px 0px 0px 40px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}

.chartLabels {
  	font: 10px Arial;
}

.axis {
  font: 12px Arial;
}

.axis path,
.axis line {
	font: 12px Arial;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
	font: 12px Arial;
  display: none;
}

.line {
  fill: none;
  stroke-width: 3.5px;
}


svg {
	position: absolute;
}

h3 {
	display: inline;
	margin-right: 10px;
}

.gratBackground {
  fill: #D5E3FF;
}

.map {
}

.states {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 2px;
}

.subbasins {
  fill: none;
  stroke: #000;
  stroke-width: 0px;
  stroke-linecap: round;
}



.chart {
	position: absolute;
	left: 720px;
	top: 250px;
}

.charttext {
	font-size: 1.5em;
	font-weight: bold;
}

.boxplot{
	position: absolute;
	left: 940px;
	top: 250px;
}