@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	margin: 20px;
	font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
	/* text unselectable */
	font: 8px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}


#text{
}
.infolabel {
	position: absolute;
	width: 200px;
	height: 100px;
	color: #fff;
	background-color: #000;
	border: solid thin #fff;
	padding: 5px;
}

.infolabel h1 {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	float: left;
}

.labelname {
	display: inline-block;
	float: right;
	margin: -25px 0px 0px 40px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}

.chartLabels {
  	font: 10px sans-serif;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.5px;
}


svg {
	position: absolute;
}

h3 {
	display: inline;
	margin-right: 10px;
}

.gratBackground {
  fill: #D5E3FF;
}

.map {
}

.states {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 2px;
}

.subbasins {
  fill: none;
  stroke: #000;
  stroke-width: 0px;
  stroke-linecap: round;
}



.chart {
	position: absolute;
	left: 680px;
	top: 200px;
}

.charttext {
	font-size: 1.5em;
	font-weight: bold;
}

.boxplot{
	position: absolute;
	left: 900px;
	top: 250px;
}