<div class="photo">
  <div class="container">
  	<div class="row">
	  	<div class = "col-md-6">
	    	<img class="pull-right" ng-src="{{ detail.url }}">
	    </div>
	    <div class="col-md-6">
		    <h2 class="photo-title"> {{detail.title}}</h2>
		    <p class="photo-author">From: {{detail.author}} </p>
		   <!--  <p class="photo-views"> {{detail.views | number}}</p>
		    <p class="photo-upvotes"> {{detail.upvotes | number}}</p> -->
		    <p class="photo-pubdate">Year first made: {{detail.pubdate | date}} </p>
		    <p class="photo-location">Where we first made it: {{detail.location}} </p>
		    <p class="photo-season">Season: {{detail.season}} </p>
		    <p class="photo-meal">Meal: {{detail.meal}} </p>
		    <p class="photo-specialty">Specialty? {{detail.specialty}} </p>
		    <h6 class="text">{{detail.text}}</h6>
		</div>
	</div>
  </div>
</div>
