header {
	display: none;
}

body {
	margin: 0;
	padding:0;
	font-family: 'Helvetica Neue', 'sans-serif';
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
} 


#popupModal .modal-dialog {
    width: 300px; 
    position: relative;
    margin: 10px auto auto auto;
}

.leaflet-bar a span{
	margin-right: 8px;
}

/*info box styles*/
#titleText{
margin-top:0px;
}


#directionsButton:empty, #titleText:empty, #address:empty, #urlLink:empty, #telLink:empty, #mainText:empty{
	display: none;
}
#directionsButton a{
	padding-right: 5px;
}
#mainImg[src=""] {
   display: none;
}   

#mainImg img{ 
  max-width: 250px;
  height: auto;
}

#iconImg {
	
	float: left;
	margin-right: 10px;	
}

#mainText {
	padding:10px 10px 10px 0px;
}

a:hover {
  	color: #a8a8a8;
}

img[src=""] {
   display: none;
}
.gateLabels {
  white-space: nowrap;
}
.emptyMarkers{
	display: none;
}

/*city-seaport map buttons*/
#buttons h2{
  position:absolute;
  font-size: 14px;
  font-weight: bold;
  font-weight: 500;
  color: #fff;
}

#buttons h2:hover{
  color: #524F4F;
}

#buttons{
  position:absolute;
  top:155px;
  right:10px;
  cursor: pointer;
  text-align: center;
}

#city h2{
  margin-left: 22px;
  top: 5px;
}

#airport h2{
  margin-left: 12px;
  top: 70px;
}

#seaport h2{
  margin-left: 7px;
  top: 140px;
}

#airport-jfk h2{
  left: 12px;
  top: 65px;
}

#airport-ewr h2{
  left: 12px;
  top: 135px;
}

#airport-jfk {
  width: 68px;
  height: 68px;
  background-image: url("../images/airport_button-bkg.png");
}

#airport-ewr {
  width: 68px;
  height: 68px;
  background-image: url("../images/airport_button-bkg.png");
}

#city{
  width: 68px;
  height: 68px;
  background-image: url("../images/city_button-bkg.png");
}
#airport{
  width: 68px;
  height: 68px;
  background-image: url("../images/airport_button-bkg.png");
}
#seaport{
  width: 68px;
  height: 68px;
  background-image: url("../images/seaport_button-bkg.png");
}

/*popup styles

#popupImg{
  margin: 1px 5px 0px 1px;
  padding-right: 5px;
  max-width: 250px;
}

#popupImg[src=""] {
   display: none;
}
  
#popupTxt{
  font-weight: bold;
  line-height: 15px;
  margin-top: 5px;
  width: 100%;
}
  
#popupDesc{
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  width: 100%;
  
}
  
#popupDesc a{
  display: inline;
}

 
 
.leaflet-popup-content {
  min-width: 100px;
}
*/

/*for production only*/
pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
}

