
a{
  color: red;
  font-size: 10px;
}
a.about{
  color: yellow;
  font-size: 12px;
  text-decoration: none;
}

/*#showHide{
  position: absolute;
  bottom: 175px;
  right: 200px;
}
#showHide:hover{
  cursor: pointer;
}*/
/*this is the class for all of the filter buttons*/
label {
  font-size: 10px;
  fill: #685544;
}
.legendText{
  font-size: 10px;
  fill: #685544;
}
.percentLabel{
  font-size: 10px;
  fill: #685544;
}
.yaxis{
  font-size: 10px;
  fill: #685544;
}
.axis text{
  font-size: 10px;
  fill: #685544;
}
.label {
  font-size: 10px;
  fill: #685544;

}
.raceLabel, .povLabel{
  font-size: 10px;
  fill: #685544;
}
.importerName{
  font-size: 12px;
  fill: #685544;
}
.viewerCategory{
  font-size: 10px;
  fill: #685544;
}
.viewerData{
  font-size: 10px;
  fill: #685544;
}



.footer{
  position: absolute;
  bottom: 0%;
  height: 15px;
  background-color: #252525;
  color: yellow;
  font-size:12px;
  border-radius: 5px;
  padding: 5px;
}
.aboutFooter, {
  position:absolute;
  cursor: pointer; 
  left: 0%;
  width: 5%;
}
.help{
  font-size:12px;
  color: black;
}



.CAN, .MEX, .USA{
  fill: #cccccc;
  stroke:white;
  stroke-width: .5px;
}
.borders{
  fill: none;
  stroke: black;
  stroke-width: 1px
}
.epa {
  stroke: none;
  stroke-width: 2px;
  fill: none;
}

/*.introTitle{
  color: yellow;
}
.introButton{
  width:100%;
  height:10%;
  background: #252525;
  opacity: .3;
  text-shadow:none;
  border: none;
  box-shadow:none;
  color: white;
}
.introButton:hover{
  border: solid yellow 2px;
  cursor: pointer;
}
*/


#importer, #exporter{
  /*stroke: red;
  stroke-width:.5px;*/
  cursor: pointer;
}





#resetter:hover{
  cursor:pointer;
}

.intro{
  font-size: 12px;
font-family: 'Rockwell';
  color: white;
}
.viewerText{
  margin: 5px;
}




div.manifests, div.typeChart, div.povertyChart {
  height: 100%;    
  overflow: auto;
  overflow-x:hidden;
}





.textdiv { /* text in the boxes */
display: inline-block;
font-size: medium;
text-align: center;
width: 50%;
vertical-align: middle;
font-family: 'Rockwell';
color:white;
}

h3{
  color: black;
}







.something{
  width: 85%;
  text-align: center;
  vertical-align: middle;
  background-color: #252525;
  border: solid 1px black;
}

.greyedOut{
  height: 100vh;
  width: 100vw;
}



.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}


.introBox{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:35%;
}


.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}


.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}


div{
 padding-right: -10px;
 padding-left: -10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

#chem {
    border-radius: 0px;
    border: 1px solid black;
    height: 0 0 30px;
}

.ui-autocomplete {
    background: #252525;
    width: 150px;
    font-size:10px;
    padding: 1em 1em;
}
ul.ui-autocomplete {
    list-style: none;
}
.ui-state-focus{
    color:White;
    background:#cccccc;
    outline:none;
    cursor:  pointer;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.col-md-4{
  padding: 0px;
}
.title{
  margin: 0px;
  padding: 5px;
}

/*CSS styling for the website*/
/*Color scheme from http://power20method.com/minimalist/*/

.portfolio-thumbnail {
  background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
  border-color: #685544;
  overflow: hidden;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron p {
  font-size: 30px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #685544;

}
.navbar-default .navbar-brand {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;

}

.navbar-collapse {
  background-color: #685544;

}

body {
  background-color: #f4f0cb;
  font-family: 'Bitter', serif;

}

.jumbotron {
  font-family: 'Bitter', serif;
  color: #685544;
  background: #b8c68b;
  text-align: center;
   padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 12px;

 }


h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: #685544;
    border-width: 2px;
    font-family: 'Bitter', serif;
}

.navbar-right {
  padding-right: 10px;
}

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);

}

.col-md-3:hover .portfolio-thumbnail h1 {
display: block

}

.col-md-6 {
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.col-md-5 {
  font-family: 'Bitter', serif;
  font-size: 16px;

}

.navbar-header {
  background-color: #685544;
}

.col-md-12 {
  text-align: center;

}

a {
  color: gray ;
}

a:hover {
  color: white;
}

a:visited {
  color: gray;
}

#nav1 {
  padding-right: 20px;
}