@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	margin: 20px;
	background-color: #dddddd;
	font-family: Arial, Helvetica, sans-serif;
	/* text unselectable */
	font: 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.rivers {
	fill: none;
	stroke: blue;
	stroke-width: .2px;
}

.text1{
}

.topContent{
	position:absolute;
	top:35%;
	width: 100%;
}
.bars {
	position: absolute;
	left: 50%;
}

.charttext {
	font-size: 1.5em;
	font-weight: bold;
}

.chart{
	position: absolute;
	left: 65%;
}


.bottomContent{
	position:absolute;
	top:104%;
	left:0%;
	width: 100%;
	height:200%;
	
}
.landlossChart{
	float:left;
	width:66%;
	height:50%;
}
.landLossText{
	position: absolute;
	right:5%;
	
	width:18%;
}
.canalText{
	position:absolute;
	bottom:0%;
	width:33%;
	left:5%;
}
.canalImg{
	position:absolute;
	right:5%;
	bottom:-15%;
	width:35%;
}
#map{
	position:absolute;
	left: 5%;
	bottom:25%;
	width:50%;
	height:30%;
}
#text{
	position:absolute;
	left: 60%;
	bottom:25%;
	width:30%;
	height:30%;
}
#links{
	position:absolute;
	left: 5%;
	bottom:10%;
	width:60%;
	height:14%;
}

hr{
	position:absolute;
	color: black;
	width:80%;
	height: 5px;
	border: 0; 
	border-top: 1px solid #ccc;
	margin-left: 10%;
}
#topHR{
	top:95%;
	
}
#midHR{
	top:180%;
}
#bottomHR{
	position:absolute;
	top:275%;
}


button {
	border-width: 0px;
  	border-radius: 12px;
  	font-family: Arial;
  	color: #d6d2d6;
 	font-size: 14px;
  	background: #83878c;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
}

button:hover {
  	background: yellow;
}

img {
	width: 100%;
}
.infolabel {
	position: absolute;
	width: 200px;
	height: 100px;
	color: #000;
	background-color: #fff;
	border: solid thin #000;
	padding: 5px;
}

.infolabel h1 {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	float: left;
}

.labelname {
	display: inline-block;
	float: right;
	margin: -25px 0px 0px 40px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}

.chartLabels {
  	font: 10px Arial;
}

.axis {
  font: 12px Arial;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xaxis{
	font: 12px Arial;
}
.xaxis path, line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3.5px;
}


svg {
	position: absolute;
}

h3 {
	display: inline;
	margin-right: 10px;
}

.gratBackground {
  fill: #D5E3FF;
}


.states {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 2px;
}

.subbasins {
  fill: none;
  stroke: #000;
  stroke-width: 0px;
  stroke-linecap: round;
}



h2 {
    font-size: 1.2em;
    margin-top: 3px;
}
h2,div, span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    border: 5px;
}
.legend, .temporal-legend {
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    font-variant: small-caps;
}
.symbolsContainer {
    float: left;
	margin-left: 50px;
    width: 100px;
}
.legendCircle {
     border-radius:50%; 
     border: 1px solid #2E2E2E; 
     background: #2E2E2E, .6;
	 display: inline-block;
}
.legendValue {
    position: absolute;
    right: 8px;
}
.range-slider {
    width: 250px;

}
.temporal-legend {
    font-size: 2.2em;
    text-align: center;
}