body {
  font-family: 'Rockwell';
  color: white;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.CAN, .MEX, .USA{
  fill: #cccccc;
  stroke:white;
  stroke-width: .5px;
}
.borders{
  fill: none;
  stroke: black;
  stroke-width: 1px
}

.exporter:hover{
  /*stroke: red;
  stroke-width:.5px;*/
  cursor: pointer;
}

text{
  font-size: 10px;
}

h3{
  color: black;
}

.title{
  position: absolute;
  font-size: 32px;
  color: black;
  left: 30%;
  top: 0%;
}
.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}

.phaser{
  text-decoration: underline;
  font-size: 20px;
  color: #d3d3d3;
}
.phaser:hover{
  text-decoration: none;
  cursor: pointer;
}