/*CSS styling for the website*/
/*Color scheme from http://power20method.com/minimalist/*/

.portfolio-thumbnail {
	background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
	border-color: #685544;
	overflow: hidden;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron p {
  font-size: 30px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #685544;

}
.navbar-default .navbar-brand {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;

}

.navbar-collapse {
  background-color: #685544;

}

body {
	background-color: #f4f0cb;
  font-family: 'Bitter', serif;

}

.jumbotron {
  font-family: 'Bitter', serif;
  color: #685544;
	background: #b8c68b;
	text-align: center;
   padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 12px;

 }


h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: #685544;
    border-width: 2px;
  	font-family: 'Bitter', serif;
}

.navbar-right {
  padding-right: 10px;
}

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);

}

.col-md-3:hover .portfolio-thumbnail h1 {
display: block

}

.col-md-6 {
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.col-md-5 {
  font-family: 'Bitter', serif;
  font-size: 16px;

}

.navbar-header {
  background-color: #685544;
}

.col-md-12 {
  text-align: center;
}

a {
  color: gray ;
}

a:hover {
  color: white;
}

a:visited {
  color: gray;
}

#clean-harbors-shipments-image {
  display: center;
}



/* cross-page styling for svg/map elements*/
.CAN, .MEX, .USA{
  fill: #cccccc;
  stroke:white;
  stroke-width: .5px;
}
.borders{
  fill: none;
  stroke: black;
  stroke-width: 1px
}
.epa {
  stroke: none;
  stroke-width: 2px;
  fill: none;
}
.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}