<div class="container-fluid">
	<div class="col-md-9">
		Select year: 
		<div class="btn-group">

		    <label type="button" class="btn btn-primary padright" ng-model="$ctrl.radioModelYear" ng-click="$ctrl.reExpress()" ng-repeat="value in ['2000', '2014']" uib-btn-radio="value">{{ value }}</label>
		</div>
		<div class="pull-right">Filter by quantile:
		 <div class="btn-group">
		        <label class="btn"  ng-repeat="(key, value) in $ctrl.quants" ng-model="$ctrl.checkResults[key]; " ng-style="{'background-color': $ctrl.ranger.fill[key], 'color': $ctrl.ranger.text[key]}" ng-click="$ctrl.reExpress();" uib-btn-checkbox>{{ (value*100) |number:2 }}% - {{($ctrl.quants[key+1] *100) | number:2}}%</label>
		 </div>
		</div>
	 

		<leaflet center="$ctrl.center" legend="$ctrl.legend" defaults="$ctrl.defaults" width="100%"  height="480px" geojson="$ctrl.geojson"></leaflet>
	</div>
<div class="col-md-3">
<ui-view></ui-view>
</div>
<div class="col-md-9">
Select an attribute:
<div class="btn-group">
    <label type="button" class="btn btn-primary padright" ng-model="$ctrl.radioModelExpressed" ng-click="$ctrl.reExpress()" ng-repeat="value in ['White',	'Black or African American',	'American Indian or Alaskan Native',	'Asian',	'Native Hawaiian and Other Pacific Islander',	'Hispanic',	'Some other race',	'Two or more races']" uib-btn-radio="value">{{ value }}</label>
</div>
</div>
 </div>

<!-- buttons here -->