body {
  font-family: 'Rockwell';
  color: white;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.rivers {
  fill: none;
  stroke: #000080;
  stroke-width: 12px;
}
.water{
  fill: #000080;
}

.selectorz:hover{
  cursor:pointer;
}

a{
  color: red;
  font-size: 10px;
}



#title{
  fill: white;
  font-size: 28px;
}
#viewerclose{
  fill: #4b4b4b;
  cursor: pointer;
}



.viewer {
  position:absolute;
  background-color: #252525;
  border-radius: 5px;
}
.intro{
  font-size: 12px;
font-family: 'Rockwell';
  color: white;
}



.label {
  font: 12px sans-serif;
  fill:white;
}

.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}



.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}

.controlbackground{
  fill: #4b4b4b;
  opacity: .8;
}


.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}




.axis text{
  font: 12px sans-serif;
  fill: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.ui-autocomplete {
    background: #252525;
    min-height: 300px;
    width: 150px;
    font-size:10px;
    padding: 1em 1em;
}
ul.ui-autocomplete {
    list-style: none;
}

.ui-state-focus
{
    color:White;
    background:#cccccc;
    outline:none;
    cursor:  pointer;
}
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }

  svg {
  font: 12px sans-serif;
}

circle {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .75;
}

.selecting circle.selected {
  stroke: #f00;
  stroke-width: .1;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

