body {
  font-family: 'Rockwell';
  color: white;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.rivers {
  fill: none;
  stroke: #1E90FF;
  stroke-width: 10px;
}
.water{
  fill: #1E90FF;
  stroke: black 1px;
}

.selectorz:hover{
  cursor:pointer;
}

a{
  color: red;
  font-size: 10px;
}



#title{
  fill: white;
  font-size: 28px;
}
#viewerclose{
  fill: #4b4b4b;
  cursor: pointer;
}



.viewer {
  position:absolute;
  background-color: #252525;
  border-radius: 5px;
}
.intro{
  font-size: 12px;
font-family: 'Rockwell';
  color: white;
}



.label {
  font: 12px sans-serif;
  fill:white;
}

.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}



.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}

.controlbackground{
  fill: #4b4b4b;
  opacity: .8;
}


.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}




.axis text{
  font: 12px sans-serif;
  fill: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.ui-autocomplete {
    background: #252525;
    min-height: 300px;
    width: 150px;
    font-size:10px;
    padding: 1em 1em;
}
ul.ui-autocomplete {
    list-style: none;
}

.ui-state-focus
{
    color:White;
    background:#cccccc;
    outline:none;
    cursor:  pointer;
}
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }

  svg {
  font: 12px sans-serif;
}

circle {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting circle {
  fill-opacity: .75;
}

.selecting circle.selected {
  stroke: #f00;
  stroke-width: .1;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/*CSS styling for the website*/
/*Color scheme from http://power20method.com/minimalist/*/

.portfolio-thumbnail {
  background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
  border-color: #685544;
  overflow: hidden;
}

.jumbotron h1 {
  font-size: 30px;
}

.jumbotron p {
  font-size: 16x;
}

.navbar-default .navbar-toggle:hover {
  background-color: #685544;

}
.navbar-default .navbar-brand {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a  {
  color: #b3a580;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: white;

}

.navbar-collapse {
  background-color: #685544;

}

body {
  background-color: #f4f0cb;
  font-family: 'Bitter', serif;

}

.jumbotron {
  font-family: 'Bitter', serif;
  color: #685544;
  background: #b8c68b;
  text-align: center;
   padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 12px;

 }


h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

.col-md-3 {
    float: center;
/**position: relative; **/
    margin: 0 auto;
    overflow: hidden;
    border-color: #685544;
    border-width: 2px;
    font-family: 'Bitter', serif;
}

.navbar-right {
  padding-right: 10px;
}

.portfolio-thumbnail img {
  -webkit-transition: 0.25s ease-in all;
  transition: 0.25s ease-in all;
}

.col-md-3:hover .portfolio-thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.10);

}

.col-md-3:hover .portfolio-thumbnail h1 {
display: block

}

.col-md-6 {
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.col-md-5 {
  font-family: 'Bitter', serif;
  font-size: 16px;

}

.navbar-header {
  background-color: #685544;
}

.col-md-12 {
  text-align: center;
}

a {
  color: gray ;
}

a:hover {
  color: white;
}

a:visited {
  color: gray;
}
