body {
    background-color: #fcfcfc;
  font-family: 'Bitter', serif;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.rivers {
  fill: none;
  stroke: #1C6BA0;
  stroke-width: 10px;
}

.water{
  fill: #1C6BA0;
  stroke: black 1px;
}

.label {
  font: 10px sans-serif;
}

.node {
  fill: #ddd;
  stroke: pink;
  stroke-width: 10px;
}

.row{
  padding:10px;
}

.background {
    fill: transparent;
}

.background:hover{
  cursor: pointer;

}


.d3-tip {
  font-size: 10px;
  line-height: 1;
  font-weight: lighter;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background: black;
  color: black;
  border-radius: 1px;
}



.axis text{
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.ui-autocomplete {
    background: #252525;
    min-height: 300px;
    width: 150px;
    font-size:10px;
    padding: 1em 1em;
}
ul.ui-autocomplete {
    list-style: none;
}

.ui-state-focus
{
    color:White;
    background:#cccccc;
    outline:none;
    cursor:  pointer;
}
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }


circle {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting bar {
  fill-opacity: .75;
}

.selecting bar.selected {
  stroke: #f00;
  stroke-width: .1;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/*CSS styling for the website*/
/*Color scheme from http://power20method.com/minimalist/*/

.portfolio-thumbnail {
  background-color: #ded2a0;
  border-width: 2px;
  border-style: solid;
  border-right-style: solid;
  border-color: #685544;
  overflow: hidden;
}

.center {
  padding: 30px;
  background: #fcfcfc;;
}

.navbar-default .navbar-toggle:hover {
  background-color: #636363;

}
.navbar-default .navbar-brand {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  color: #fef0d9;
}

.navbar-default .navbar-nav > li > a  {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.navbar-default .navbar-nav:hover > li > a:hover  {
  color: #fef0d9;

}

.navbar-collapse {
  background-color: #636363;

}
.navbar-right {
  padding-right: 10px;
}

.navbar-header {
  background-color: #636363;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

li{
  font-size: 10px;
}

.well {
  min-height: 20px;
  padding: 2px;
  margin-bottom: 10px;
}
