body{ 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    transition:width 1s;
    -webkit-transition:width 1s;
    border-radius: 5px;
    background-color: #818DB2;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    width: 10%;
    float: right;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 100%;
    position: fixed;
    right:0%;
    top:5%;
    z-index:1;
}
.title {

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #685544;
}
.main{
    margin-top: 60px;
}
.images {
}
.slide-title {
    background-color: white;
    width: 75%;
    float: left;
    height: 45px;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 200%;
    z-index: 1;
}
.map {
}

.text {
    font-family: Tahoma;
    font-size: 150%;
	width: 100%;
    z-index:1;
	height: 50px;
}