body{ 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    transition:width 1s;
    -webkit-transition:width 1s;
    border-radius: 5px;
    background-color: steelblue;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 100%;
    z-index:1;
    margin: 10px;
}
.title {

}
a{
    color: white;
}
div{
    padding: 10px;
}
.quote{
    font-size: 75%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}
.main{
    margin-top: 100px;
}
.images {
}
.slide-title {
    background-color: white;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 200%;
    z-index: 1;
}
.map {
    padding-right: 15px;
}

.text {
    font-family: Tahoma;
    font-size: 150%;
    z-index:1;
}