
<div class="col-md-2">
       <label>Search for a site: <input ng-model="siteSearch"></label>
		<div class="sitelist"> 
			<div ng-repeat="value in $ctrl.data | filter:{'importer_name': siteSearch}"
				ng-mouseenter="$ctrl.changeHoverSite(value.importer_name)"
				ng-mouseleave="$ctrl.changeHoverSite(null)"
				ng-class="['divItem',{active:$ctrl.hoverSite==value.importer_name, selected:$ctrl.selectedSite==value.importer_name}]"
				ng-click="$ctrl.siteClick(value.importer_name)"> <!-- we're going to create a div for each site we have. $ctrl is how we access the data we passed into the template from the component. "ng" is a way of binding attributes to the div. We'll bind a function for each mouseenter/leave, classes, and clicks. -->
						<div class='col-md-5'>{{value.importer_name}}</div>  <!-- {{}} is how we call data in angular. these are called expressions for each site, we will express the name here. -->
						<div class='col-md-2'><svg width="30" height="30"><circle cx="10" cy="10" ng-attr-r= "{{value.chartCircle}}" ng-attr-fill = "{{value.color}}"></circle></svg></div> <!-- We create small circles here as legends to the main maps. For each site, we generate an svg circle with a radius based on the total waste at the site. We color the circle base on the color we generated for it in the component. -->
						<div class='col-md-5'>
							<div class="bar100">
								<div class='bar' ng-style='{width:"{{value.barChartWidth}}"}'>&nbsp</div> <!-- We create a gray bar at 100% width and then a greenish one at whatever percent of the largest importer the current importer is at. -->

							</div>
						</div>
			</div>
		</div>
</div> 

<div class="col-md-8 map">
	<?xml version="1.0" encoding="UTF-8" standalone="no"?>
	<svg xmlns="http://www.w3.org/2000/svg" widht = "100%" height = "100%" viewbox="0 0 959 593">
	<g id="outlines">
		<path class="state" ng-repeat="value in $ctrl.geography" ng-attr-d="{{value.calculatedPath}}"></path>
	</g>
	<g id="exporters">
		<circle ng-repeat="value in $ctrl.exporters" class="site" 
				ng-attr-fill ="{{value.color}}"
				ng-class = "[value.exporter_name]"
	            ng-attr-cx= "{{value.x}}"
	            ng-attr-cy= "{{value.y}}"
	            ng-attr-r= "{{value.mapCircle}}" 
	            >
	    </circle>
    </g>
	<g id="importers">
		<circle ng-repeat="value in $ctrl.data | filter:{'importer_name': siteSearch}" class="site" 
				fill="white"
				ng-class = "[value.importer_name, 'mapCircles', {active:$ctrl.hoverSite==value.importer_name, selected:$ctrl.selectedSite==value.importer_name}]")
	            ng-attr-cx= "{{value.x}}"
	            ng-attr-cy= "{{value.y}}"
	            ng-attr-r= "{{value.mapCircle}}"
	            ng-mouseenter="$ctrl.changeHoverSite(value.importer_name)"
	            ng-mouseleave="$ctrl.changeHoverSite(null)"
	            ng-click="$ctrl.siteClick(value.importer_name)" 
	            >
	    </circle>
    </g>

</svg>
</div>
<div class="col-md-2"> 
<ui-view></ui-view> <!-- We tell ui.router that we're going to place the views that are dependent on this one - that we create by clicking on site circles or sites in the chart - here. -->
</div>