<div class="main container-fluid info">
	<div class="row">
		<div class="col-md-12">
			<h3> {{$ctrl.site.importer_name}}</h3>
		</div>
		<div class="col-md-12">
			<ul class="nav nav-pills nav-stacked">
			  <li ng-repeat="value in ['Overview', 'Demographics', 'Manifests', 'Stories', 'Enforcement']" role="presentation" ng-class="{active:value=='Overview'}"><a ui-sref="main.viewer.display({ detail:value, siteID:$ctrl.site.importer_name })">{{value}}</a></li>
			</ul>
			</div>
		</div>
		<div class="col-md-12">
			<p class="detail"/>Address: {{$ctrl.site.importer_address}} {{$ctrl.site.importer_city}}, {{$ctrl.site.importer_state}} 
			<p class="detail"/>Amount of waste: {{$ctrl.site.total_waste}} {{$ctrl.site.units}}
			<p class="detail"/>Rank: {{$ctrl.site.rank}}
		</div>
	
		<div class="col-md-12"><p class="detail" /> Total waste by year
			<div ng-repeat="(key, value) in $ctrl.site.years" class="col-md-12">
				<div class="col-md-6">
					<p class="detail">{{key}}</p>
				</div>
				<div class="col-md-6">
					<div class="bar100">
							<div class='bar' ng-style='{width:"{{value | barDetail: $ctrl.site.total_waste}}"}'>&nbsp</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-md-12"><p class="detail" /> Total waste by type
			<div ng-repeat="(key, value) in $ctrl.site.types" class="col-md-12">
				<div class="col-md-6">
					<p class="detail">{{key}}</p>
				</div>
				<div class="col-md-6">
					<div class="bar100">
							<div class='bar' ng-style='{width:"{{value | barDetail: $ctrl.site.total_waste}}"}'>&nbsp</div>
					</div>
				</div>
			</div>
		</div>
</div>
<ui-view></ui-view>

