body {
  font-family: 'Rockwell';
  color: black;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
