<!DOCTYPE HTML>
<html lang="en">

	<head>
			<!-- <link href='https://fonts.googleapis.com/css?family=Ruda:400,700|Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
			<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="keywords" content="cookbook"/>
			<title>What We Ate</title>

			<!--put Bootstrap stylesheet links above style.css-->

      
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="css/style.css">
      <script type="text/javascript" src="js/shared/angular.min.js"></script>
      <script type="text/javascript" src="js/shared/angular-route.js"></script>
      <script type="text/javascript" src="lib/ui-bootstrap.min.js"></script>
      <script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>
	</head>
	<body ng-app="GalleryApp">

		<nav class="navbar navbar-default navbar-fixed-top main-navbar"> <!--creates navbar-->

						<div class="navbar-header"> <!--creates the navbar header-->
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
										<span class="sr-only">Toggle navigation</span><!--used for screen readers for accessibility-->
										<span class="glyphicon glyphicon-menu-hamburger"></span>
										<span class="menu">Menu</span>
								</button> <!--hamburger button for smaller devices-->
								<a class="navbar-brand" href="/#/">What We Ate</a><!--our website brand name-->
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->

		</nav><!--end navigation bar-->
          <div class="container-fluid ">
            <div class="col-md-12 filter">
              <label>Search: <input ng-model="searchText"></label>
              <div class="btn-group" uib-dropdown is-open="status.isopen1">
                <button id="season" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  Filter by season <span class="caret"></span>
                </button>
                <ul id="seasonUL" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href ng-click="searchText1 = 'Fall'">Fall</a></li>
                  <li role="menuitem"><a href ng-click="searchText1 = 'Winter'">Winter</a></li>
                  <li role="menuitem"><a href ng-click="searchText1 = 'Spring'">Spring</a></li>
                  <li role="menuitem"><a href ng-click="searchText1 = 'Summer'">Summer</a></li>
                  <li role="menuitem"><hr></li>
                  <li role="menuitem"><a href ng-click="searchText2 = ''">All seasons</a></li>
                </ul>
              </div>
              <div class="btn-group" uib-dropdown is-open="status.isopen2">
                <button id="meal" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  Filter by meal <span class="caret"></span>
                </button>
                <ul id="mealUL" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a href ng-click="searchText2 = 'Breakfast'">Breakfast</a></li>
                  <li role="menuitem"><a href ng-click="searchText2 = 'Lunch or snack or something'">Lunch or snack or something</a></li>
                  <li role="menuitem"><a href ng-click="searchText2 = 'Supper'">Supper</a></li>
                  <li role="menuitem"><a href ng-click="searchText2 = 'Dessert'">Dessert</a></li>
                  <li role="menuitem"><hr></li>
                  <li role="menuitem"><a href ng-click="searchText2 = ''">All meals</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-12 welcome">
              <h2>Welcome! We love you.</h2>
            </div>
          </div>
          <div ng-view></div>

  <script>
$('#seasonUL li a').on('click', function(){
  $(".welcome").remove()
  var x = $(this).html()
  $('#season').html(x+" <span class='caret'></span>");
});
$('#mealUL li a').on('click', function(){
  $(".welcome").remove()
  var x = $(this).html()
  $('#meal').html(x+" <span class='caret'></span>");
});
  </script>
  <!-- Modules -->
  <script src="js/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/HomeController.js"></script>
  <script src="js/controllers/PhotoController.js"></script>

  <!-- Services -->
  <script src="js/services/photos.js"></script>

  </body>

</html>
