@charset "UTF-8";
/* CSS Document */

#map {
  width: 100%;
  height: 400px;
}

.info, .srch {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info, .srch h4 {
  margin: 0 0 5px;
  color: #777;
}

h6 {
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/*css for zoom-dependent zip code label*/
.z1 .zipLabel, .z2 .zipLabel, .z3 .zipLabel, .z4 .zipLabel, .z5 .zipLabel, .z6 .zipLabel{
	display: none;
}
.z7 .zipLabel, .z8 .zipLabel, .z9 .zipLabel, .z10 .zipLabel{
	font-size: 8px;
}
.z11 .zipLabel, .z12 .zipLabel{
	font-size: 12px;
}


/*css for search*/
.ui-autocomplete {
	background: rgba(255, 255, 255, .8);
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
     color: #555;
  	border-radius: 5px;
    width: 80px;
    font-size:10px;
    padding: 1em 1em;
    position: absolute; 
    z-index:1000 !important;
    cursor:  pointer; 
}
ul.ui-autocomplete {
    list-style: none;
}
.ui-menu-item:hover{
	font-size: 12px;
	background: #efefef;
}
.ui-helper-hidden-accessible { display:none; }